

ul {
 width:25%;
 height:100%;
 list-style-type:none;
 background-color: #333;
 padding:12px;
 margin:0px;
 overflow: hidden;
 position:fixed;
 top:0px;
}

li {
padding:10px;
}

li a {
  padding:24px;
  margin: 14px;
  text-decoration: none;
  
  color: white;
}

li a:hover {
 background-color: gray;
}

.dropdown {
   position: relative;
  display: inline-block;
}

.btn {
   background-color:green;
   padding: 14px;
   font-size:20px;
}

.dropdown-content a {
   text-decoration:none;
   font-size: 18px;
   color: gray;
   display: block;
}

.dropdown-content {
   
  display:none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


